{% extends 'base.html' %}


{% block content %}
<div class="container">
    
    <div class="row">
        <div class="col-sm-12">
            <h3>Tableau de bord</h3>
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <canvas id="myChart" width="400" height="150"></canvas>
            <br/>
        </div>
    </div>
</div>


{% endblock content %}

{% block scripts %}

<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{% for item in result %}'{{item.date}}',{% endfor %}],
            datasets: [{
                label: '# of Votes',
                data: [{% for item in result %}'{{item.montant}}',{% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
        }]
    }
}
    });
    </script>

{% endblock scripts %}