{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Estheticienne site web{%block title%}
        {%endblock%}</title>
    <link rel="icon" type="image/png" href="{% static 'favicon-16x16.png' %}"/>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap_login.min.css'%}" rel="stylesheet" />
    <link href="{% static 'css/main.css'%}" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>




    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="{% static 'css/login.css' %}" rel="stylesheet" />
  </head>
  <body class="text-center">
    
<div class="form-signin">
    <form method="POST" action="">
        {% csrf_token %}
    <img class="mb-4" src="{% static 'esth_logo_prov.png' %}" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Connexion</h1>
    {% for message in messages %}
                    <p id="messages">{{message}}</p>
                {% endfor %}
    <div class="form-floating">
      <input type="text" class="form-control" name="username" placeholder="Agence esthétique">
      <label for="floatingInput">Nom de l'entreprise</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" name="password" placeholder="Mot de passe">
      <label for="floatingPassword">Mot de passe</label>
    </div>


    <button class="w-100 btn btn-lg btn-primary" type="submit" value="Connexion">Connexion</button>
    <p class="mt-5 mb-3 text-muted">&copy; EsthSite2021</p>
  </form>
  
</div>



    
  </body>
</html>
